= form_for @bin do |form|
  %fieldset
    %legend= @bin.name
    .clearfix
      = form.label :name
      .input
        = form.text_field :name

    .actions
      = form.submit class: 'btn primary'
