- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path)

- content_for :page_title do
  Bins

- content_for :action_items do
  = link_to 'Add Bin', new_bin_path, :class => 'button'

.span-18
  = link_to "Active (#{Bin.active.count})", bins_path(:scope => 'active'), :class => "button pill#{(params[:scope] == 'active' or params[:scope].nil?) ? ' primary' : ''}"
  = link_to "Inactive (#{Bin.inactive.count})", bins_path(:scope => 'inactive'), :class => "button pill#{(params[:scope] == 'inactive') ? ' primary' : ''}"
  %br
  %br

  %table
    %thead
      %tr
        %th Name
        %th Total Books
        %th Undecided
        %th Keep
        %th Trash
        %th Actions
    %tbody
      - @bins.each do |bin|
        %tr.bin{:class => "bin-#{bin.id}"}
          %td= bin.name
          %td= bin.books.count
          %td= bin.books.undecided.count
          %td= bin.books.keep.count
          %td= bin.books.trash.count
          %td
            = link_to 'Show', bin
            = link_to 'Edit', edit_bin_path(bin)
            = link_to 'Archive', bin, :method => :delete, :confirm => 'Are you sure you want to archive this bin?'

= paginate @bins
