- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path)

- content_for :page_title do
  Bins

- content_for :action_items do
  = link_to 'Add Bin', new_bin_path, :class => 'button'

%ul.facets
  %li= link_to_bin_facet(:all)
  %li= link_to_bin_facet(:active)
  %li= link_to_bin_facet(:inactive)

%table
  %thead
    %tr
      %th Name
      %th Total Books
      %th Undecided
      %th Keep
      %th Trash
      %th Actions
  %tbody
    - @bins.each do |bin|
      %tr.bin{:class => "bin-#{bin.id}"}
        %td.bin-name= bin.name
        %td.bin-total= bin.books.count
        %td.bin-undecided= bin.books.undecided.count
        %td.bin-keep= bin.books.keep.count
        %td.bin-trash= bin.books.trash.count
        %td
          = link_to 'Show', bin
          = link_to 'Edit', edit_bin_path(bin)
          = link_to 'Archive', bin, :method => :delete, :confirm => 'Are you sure you want to archive this bin?'

= paginate @bins
