- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path, 'Bins' => bins_path)

- content_for :page_title do
  = @bin.name

- content_for :action_items do
  = link_to 'Edit Bin', edit_bin_path(@bin), :class => 'button'
  = link_to 'Archive Bin', bin_path(@bin), :method => :delete, :class => 'button'


.panel.span-17.colborder
  .panel-title
    %b Bin Details
  .panel-contents
    %table
      %tr
        %th Name
        %td= @bin.name
      %tr
        %th Created At
        %td= @bin.created_at.to_formatted_s(:long)
      %tr
        %th Updated At
        %td= @bin.updated_at.to_formatted_s(:long)

.sidebar.span-6.last
  .sidebar-contents
    %p.books-donated
      %b Books Donated
      %br
      = link_to @bin.books.count, books_path(bin: @bin.id)

    %p.books-undecided
      %b Books Undecided
      %br
      = link_to @bin.books.undecided.count, books_path(recommendation: 'undecided', bin: @bin.id)

    %p.books-keep
      %b Books Kept
      %br
      = link_to @bin.books.keep.count, books_path(recommendation: 'keep', bin: @bin.id)

    %p.books-trash
      %b Books Trashed
      %br
      = link_to @bin.books.trash.count, books_path(recommendation: 'trash', bin: @bin.id)
