- content_for :breadcrumb do
  = link_to 'Home', root_path
  \/
  = link_to 'Donors', donors_path
  \/
  = link_to @donor.name, @donor
  \/

- content_for :page_title do
  = @donor.name

- content_for :action_items do
  = link_to 'New Book', new_donor_book_path(@donor), :class => 'button'


= link_to "All (#{@donor.books.count})", donor_books_path(:scope => 'all'), :class => "button pill#{(params[:scope] == 'all') ? ' primary' : ''}"
= link_to "Undecided (#{@donor.books.undecided.count})", donor_books_path(:scope => 'undecided'), :class => "button pill#{(params[:scope] == 'undecided') ? ' primary' : ''}"
= link_to "Keep (#{@donor.books.keep.count})", donor_books_path(:scope => 'keep'), :class => "button pill#{(params[:scope] == 'keep') ? ' primary' : ''}"
= link_to "Toss (#{@donor.books.toss.count})", donor_books_path(:scope => 'toss'), :class => "button pill#{(params[:scope] == 'toss') ? ' primary' : ''}"
%br
%br

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Published
      %th Publisher
      %th Actions
  %tbody
    - @books.each do |book|
      %tr{:class => "book book-#{book.id} book-recommendation-#{book.recommendation}"}
        %td= book.title
        %td= book.author
        %td= book.published
        %td= book.publisher
        %td{:style => 'white-space: nowrap;'}
          = link_to 'Show', donor_book_path(book.donor, book)
          = link_to 'Edit', edit_donor_book_path(book.donor, book)
          = link_to 'Remove', donor_book_path(book.donor, book), :method => :delete, :confirm => 'Are you sure you want to remove that book?'
  = paginate @books
