- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path, 'Donors' => donors_path, @donor.name => @donor)

- content_for :page_title do
  = @book.title

- content_for :action_items do
  = link_to 'Edit Book', edit_donor_book_path(@donor, @book), :class => 'button'
  = link_to 'Keep', donor_book_path(@donor, @book, :book => {:recommendation => 'keep'}), :method => :put, :class => 'button'
  = link_to 'Toss', donor_book_path(@donor, @book, :book => {:recommendation => 'toss'}), :method => :put, :class => 'button'
  = link_to 'Undecided', donor_book_path(@donor, @book, :book => {:recommendation => 'undecided'}), :method => :put, :class => 'button'

%section.span-17.colborder
  .panel.span-17
    .panel-title Bibliographic Information
    .panel-contents
      .field.span-17
        .span-4 Title:
        .span-13.last= @book.title

      .field.span-17
        .span-4 Author:
        .span-13.last= @book.author

      .field.span-17
        .span-4 Publisher
        .span-13.last= @book.publisher

      .field.span-17
        .span-4 Published
        .span-13.last= @book.published

      .field.span-17
        .span-4 Series
        .span-13.last= @book.series

      .field.span-17
        .span-4 Call Number
        .span-13.last= @book.call_number

      .field.span-17
        .span-4 ISBN
        .span-13.last= @book.isbn

  .panel.span-17
    .panel-title Holdings Information
    .panel-contents
      .span-4 Held Local
      .span-13.last= (@book.held_local) ? 'Yes' : 'No'

      .span-4 Boston Library Consortium
      .span-13.last= @book.held_remote

  .panel.span-17
    .panel-title Other Information
    .panel-contents
      =link_to 'Lookup item in WorldCat', "http://worldcat.org/isbn/#{@book.isbn}"
      %br
      =link_to 'Lookup item at Amazon', "http://amazon.com/gp/product/#{@book.isbn}"

.sidebar.span-4.last
  %p.recommendation
    %b Recommendation:
    %br
    = @book.recommendation.capitalize

  %p.thumbnail
    %b Thumbnail:
    %br
    = image_tag(@book.thumbnail)


