= semantic_form_for @donor do |form|
  = form.inputs do
    = form.input :name
    = form.input :phone
    = form.input :email
    = form.input :line1, :label => 'Address Line 1'
    = form.input :line2, :label => 'Address Line 2'
    = form.input :city
    = form.input :state
    = form.input :zip, :label => 'Zip Code'
  = form.buttons do
    = form.commit_button :label => (@donor.new_record?) ? 'Add Donor' : 'Update Donor'
