- content_for :page_title do
  Donors

- content_for :action_items do
  = link_to 'Add Donor', new_donor_path, class: 'btn'

%ul.facets
  %li= link_to 'All', donors_path, class: 'btn primary'

%table
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @donors.each do |donor|
      %tr.donor{class: "donor-#{donor.id}"}
        %td= donor.name
        %td
          = link_to 'Show', donor
          = link_to 'Edit', edit_donor_path(donor)
          = link_to 'Delete', donor, method: :delete, confirm: 'Are you sure you want to archive this donor?'

= paginate @donors
