= link_to "All (#{@bin.books.count})", bin_books_path(@bin, :scope => 'all'), :class => "button pill#{(params[:scope] == 'all' or params[:scope].nil?) ? ' primary' : ''}"
= link_to "Undecided (#{@bin.books.undecided.count})", bin_books_path(@bin, :scope => 'undecided'), :class => "button pill#{(params[:scope] == 'undecided') ? ' primary' : ''}"
= link_to "Keep (#{@bin.books.keep.count})", bin_books_path(@bin, :scope => 'keep'), :class => "button pill#{(params[:scope] == 'keep') ? ' primary' : ''}"
= link_to "Toss (#{@bin.books.toss.count})", bin_books_path(@bin, :scope => 'toss'), :class => "button pill#{(params[:scope] == 'toss') ? ' primary' : ''}"
%br
%br

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Published
      %th Publisher
      %th Actions
  %tbody
    - @books.each do |book|
      %tr{:class => "book book-#{book.id} book-recommendation-#{book.recommendation}"}
        %td= book.title
        %td= book.author
        %td= book.published
        %td= book.publisher
        %td{:style => 'white-space: nowrap;'}
          = link_to 'Show', bin_book_path(book.bin, book)
          = link_to 'Edit', edit_bin_book_path(book.bin, book)
          = link_to 'Remove', bin_book_path(book.bin, book), :method => :delete, :confirm => 'Are you sure you want to remove that book?'
