- content_for :breadcrumb do
  = link_to 'Home', root_path
  .breadcrumb-seperator /
  = link_to 'Bins', bins_path
  .breadcrumb-seperator /
  = link_to @bin.name, @bin
  .breadcrumb-seperator /

- content_for :page_title do
  = 'Books'

- content_for :action_items do
  = link_to 'Add Book', new_bin_book_path(@bin), :class => 'button'


.panel.span-17.colborder
  .panel-contents
    = render :partial => 'bins/books/table', :object => @books

    = paginate @books


.sidebar.span-6.last
  .sidebar-title
    %b Bin Information
  .sidebar-contents
    %table
      %tr
        %th Name
        %td= @bin.name
      %tr
        %th Created At
        %td= @bin.created_at.to_formatted_s(:long)
      %tr
        %th Updated At
        %td= @bin.updated_at.to_formatted_s(:long)
