- content_for :page_title do
  Users

- content_for :action_items do
  = link_to 'Add User', new_user_path, class: 'btn'

%table
  %thead
    %tr
      %th Email
      %th Created At
      %th Actions
  %tbody
    - @users.each do |user|
      %tr{class: "user-#{user.id}"}
        %td= user.email
        %td= user.created_at
        %td 
          = link_to 'Show', user
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Delete', user, method: :delete, confirm: 'Are you sure you want to delete this user?'

= paginate @users
