- content_for :page_title do
  Dashboard

- content_for :action_items do
  /

.row
  .span12
    %h3 Today's Stats
    %table
      %thead
        %tr
          %th Books Donated
          %th Undecided Books
          %th Kept Books
          %th Trashed Books
      %tbody
        %tr
          %th= @counts[:today]
          %th= @counts[:today_undecided]
          %th= @counts[:today_keep]
          %th= @counts[:today_trash]

    %h3 All Time Stats
    .panel-contents
      %table
        %thead
          %tr
            %th Books Donated
            %th Undecided Books
            %th Kept Books
            %th Trashed Books
        %tbody
          %tr
            %th= @counts[:total]
            %th= @counts[:total_undecided]
            %th= @counts[:total_keep]
            %th= @counts[:total_trash]

  .span4
    %h3 Some Info Here
    Fun!

    %h3 Help
    Need help? Ask your supervisor!
