= semantic_form_for @book do |form|
  = form.inputs 'Bibliographic Information' do
    = form.input :isbn, label: 'ISBN', as: 'string'
    = form.input :title, as: 'string'
    = form.input :author, as: 'string'
    = form.input :published, as: 'string'
    = form.input :publisher, as: 'string'
    = form.input :series, as: 'string'
    = form.input :call_number, label: 'Call Number', as: 'string'

  = form.inputs 'Holdings Information' do
    = form.input :held_local, as: :select
    = form.input :held_remote, label: 'BLC Libraries', as: 'string'

  = form.inputs 'Pricing Information' do
    = form.input :price_amazon, as: 'string'

  = form.inputs 'Miscellaneous' do 
    = form.input :donor
    = form.input :bin

  = form.buttons do
    = form.commit_button label: (@book.new_record?) ? 'Add Book' : 'Update Book'
