= form_for @book do |f|
  %fieldset
    %legend Bibliographic Information

    .clearfix
      = f.label :isbn, 'ISBN'
      .input
        = f.text_field :isbn
    .clearfix
      = f.label :title
      .input
        = f.text_field :title
    .clearfix
      = f.label :author
      .input
        = f.text_field :author
    .clearfix
      = f.label :published
      .input
        = f.text_field :published
    .clearfix
      = f.label :publisher
      .input
        = f.text_field :publisher
    .clearfix
      = f.label :series
      .input
        = f.text_field :series
    .clearfix
      = f.label :call_number, 'Call Number'
      .input
        = f.text_field :call_number

  %fieldset
    %legend Holdings Information
    .clearfix
      = f.label :held_local
      .input
        = f.select :held_local, [['Yes', 'true'], ['No', 'false']], include_blank: true
    .clearfix
      = f.label :held_remote, 'BLC Libraries'
      .input
        = f.text_field :held_remote

  %fieldset
    %legend Price Information
    .clearfix
      = f.label :price_amazon
      .input
        = f.text_field :price_amazon

  %fieldset
    %legend Miscellaneous
    .clearfix
      = f.label :donor_id
      .input
        = f.select :donor_id, Donor.all.map {|d| [d.name, d.id]}, include_blank: true

    .clearfix
      = f.label :bin_id
      .input
        = f.select :bin_id, Bin.all.map {|b| [b.name, b.id] }, include_blank: true
    
  .actions
    = f.submit class: 'btn primary'
