- content_for :page_title do
  = 'Books'

- content_for :action_items do
  = link_to 'Add Book', new_book_path, class: 'btn'

%ul.facets
  %li= link_to_book_facet(:all)
  %li= link_to_book_facet(:undecided)
  %li= link_to_book_facet(:keep)
  %li= link_to_book_facet(:sell)
  %li= link_to_book_facet(:trash)

:javascript
  $(document).ready(function() {
    $('#book_recommendation').change(function() {
      $('form').submit();
    });

    $('#book-all').click(function() {
      if ($(this).is(":checked")) {
        $(":checkbox").attr("checked", true);
      } else {
        $(":checkbox").attr("checked", false);
      }
    });
  });


= form_tag(batch_books_path, :method => 'put') do
  = select_tag('book[recommendation]', options_for_select([['Recommendation', ''], ['Undecided', 'undecided'], ['Keep', 'keep'], ['Sell', 'sell'], ['Trash', 'trash']]))
  %table
    %thead
      %tr
        %th= check_box_tag "book-all"
        %th Title
        %th Author
        %th Published
        %th Publisher
        %th Actions
    %tbody
      - @books.each do |book|
        %tr{class: "book book-#{book.id} book-recommendation-#{book.recommendation}"}
          %td= check_box_tag "ids[]", book.id
          %td= book.title
          %td= book.author
          %td= book.published
          %td= book.publisher
          %td{style: 'white-space: nowrap;'}
            = link_to 'Show', book
            = link_to 'Edit', edit_book_path(book)
            = link_to 'Delete', book, method: :delete, confirm: 'Are you sure you want to remove that book?'

= paginate @books
