- content_for :page_title do
  = @book.title

- content_for :action_items do
  = link_to 'Edit Book', edit_book_path(@book), class: 'btn'
  = link_to 'Keep', recommend_book_path(@book, book: {recommendation: 'keep'}), method: :put, class: 'btn'
  = link_to 'Trash', recommend_book_path(@book, book: {recommendation: 'trash'}), method: :put, class: 'btn'
  = link_to 'Sell', recommend_book_path(@book, book: {recommendation: 'sell'}), method: :put, class: 'btn'
  = link_to 'Undecided', recommend_book_path(@book, book: {recommendation: 'undecided'}), method: :put, class: 'btn'

.row
  .span12
    %h3 Bibliographic Information
    .row.title
      .span2 Title:
      .span10= @book.title
    .row.author
      .span2 Author:
      .span10= @book.author
    .row.publisher
      .span2 Publisher:
      .span10= @book.publisher
    .row.published
      .span2 Published:
      .span10= @book.published
    .row.series
      .span2 Series:
      .span10= @book.series
    .row.call_number
      .span2 Call Number:
      .span10= @book.call_number
    .row.isbn
      .span2 ISBN:
      .span10= @book.isbn

    %h3 Holdings Information
    .row
      .span2 Held Local
      .span10= (@book.held_local) ? 'Yes' : 'No'
    .row
      .span2 Held at BLC
      .span10= @book.held_remote

    %h3 Other Information
    =link_to 'Lookup item in WorldCat', "http://worldcat.org/isbn/#{@book.isbn}"
    %br
    =link_to 'Lookup item at Amazon', "http://amazon.com/gp/product/#{@book.isbn}"

  .span4
    %h3 
    %p.recommendation
      %b Recommendation:
      %br
      = @book.recommendation.capitalize

    %p.thumbnail
      %b Thumbnail:
      %br
      = book_thumbnail(@book)
