- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path)

- content_for :page_title do
  Sign In

= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.inputs do
    = f.input :email
    = f.input :password
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.buttons do
    = f.commit_button label: 'Sign in'
    = render partial: "devise/shared/links"

