!!!
%html
  %head
    %title= (title = yield :page_title) ? "#{title} | Gift Manager" : "Gift Manager"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    .topbar
      .topbar-inner
        .container
          = link_to 'Gift Manager', root_path, class: 'brand'
          %ul.nav
            %li{class: (request.path =~ /^\/bins/) ? 'active' : ''}= link_to 'Bins', bins_path
            %li{class: (request.path =~ /^\/donors/) ? 'active' : ''}=link_to 'Donors', donors_path
            %li{class: (request.path =~ /^\/books/) ? 'active' : ''}=link_to 'Books', books_path
            %li{class: (request.path =~ /^\/users/) ? 'active' : ''}=link_to 'Users', users_path
          - if user_signed_in?
            %ul.nav.right
              = link_to 'Sign out', destroy_user_session_path

    #header
      .container 
        .action_items.right
          = yield :action_items
        .page-header
          %h2= yield :page_title

    .container
      #flash
        -flash.each do |key, value|
          .alert-message{class: key}= value

      = yield
